.send-button{
background: #ff6961;
width:100%;
font-weight: 600;
color:#fff;
padding: 8px 25px;
margin-top: 25px;
}
.btn:hover{
color:#fff;
border-color: #4c5357;
}
.my-input{
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
cursor: text;
padding: 8px 10px;
transition: border .1s linear;
}
.my-input:focus {
  border-color: #4c5357;
  box-shadow: none;
}
.my-input:hover {
  border-color: #4c5357;
}
h1{
font-size: 31px;
line-height: 40px;
font-weight: 600;
color:#4c5357;
}
h2{
color: #5e8396;
font-size: 21px;
line-height: 32px;
font-weight: 400;
}
textarea {
  min-height: 350px;
  white-space: pre;
  overflow: hidden;
  resize: none;
}

@media (min-width: 1200px) {
  .container{
      max-width: 800px;
  }
}